//*------------------------------------------------*/
//* 平台组件样式
//
//* Created by Ray on 2016-03-02
//*
//* 描述：用于提供平台组件样式
//*------------------------------------------------*/

//*==========  mixins  ==========*/
@import "components/mixins/arrow";

//*==========  components  ==========*/
@import "components/overlay";
@import "components/mask";
@import "components/input";
@import "components/upload";
@import "components/switch";
@import "components/modal";
@import "components/datepicker";
@import "components/select";
@import "components/button";
@import "components/checkbox";
@import "components/card";
@import "components/form_control";

@import "components/image_gallery";

.image-gallery {
  div.image-gallery-image {
    text-align: center;
  }
}

//*==========  avatar  ==========*/
.cmpt-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  border: solid 1px rgba(0, 0, 0, 0.08);
}

//*==========  divider  ==========*/
.cmpt-divider {
  border: 0px;
  border-top: 1px solid $borderColor;
}







